page-intro {

  $font-path: "../assets/fonts";
  $red: #B2122A;

  @font-face {
    font-family: 'Billabong';
    src: url($font-path + "/Billabong.ttf") format('ttf');
  }

  h1{
    color: white;
    text-align: center;
    font-family: 'Billabong' !important;
  }

  span{
    color: white;
  }

  .form-button{
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .home{
    background-color: $red;
  }
  #login-options{
    span{
      width: 100%;
      text-align: center;
      float:left;
    }
  }
}
